@model Cart

@*<div class="">

    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(I => I.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }


    <a class="nav-link" asp-page="/Cart" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-bag"></i>
    </a>

</div>*@


