<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> <span class="fa fa-laptop">TechnoStore </span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Category" asp-action="HomeOffice">Ev-Ofis Laptopları <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Gaming">Oyun Laptopları</a>
            </li>

        </ul>

        <ul class="navbar-nav navbar-right">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-1" type="text" placeholder="Bir ürün ara">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
            </form>
            <li class="nav-item dropdown dropleft">

                @if (User.IsInRole("Admin"))
                {
                    <a class="nav-link" href="#" id="dropdownIdprofil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="fa fa-user mr-2"></span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownIdprofil">
                        <a class="dropdown-item" href="/Admin">Kontrol Paneli</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">Çıkış</a>
                    </div>

                }
                else if (User.IsInRole("Member"))
                {
                    <a class="nav-link" href="#" id="dropdownIdprofil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="fa fa-user mr-2"></span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownIdprofil">
                        <a class="dropdown-item" href="/Member">Profil</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">Çıkış</a>
                    </div>
                }
                else
                {
                    <a class="nav-link" asp-controller="Account" asp-action="Login" id="dropdownIdprofil" aria-haspopup="true" aria-expanded="false"> <span class="fa fa-user mr-2"></span></a>
                }

            </li>


            <li class="nav-item dropdown">
                <a class="nav-link" href="~/cart" id="dropdownId" aria-haspopup="true" aria-expanded="false"> <span class="fa fa-shopping-bag"></span></a>
            </li>

            


        </ul>
    </div>
</nav>