@model OrderViewModel

@{
    Layout = "_OrderLayout";
}

@if (User.Identity.IsAuthenticated)
{
    @if (@Model.LinesCount > 0)
    {
        @*@foreach (var address in Model.Addresses)
        {
            <partial name="AddressPartial" model="address" />
        }*@

        @if (Model.Addresses.Count() != 0)
        {

            <div class="left border">
                <div class="row">
                    <h4>Adres ve Kargo</h4>
                </div>

                <form asp-action="Delivery" method="post">

                    <div class="row">
                        <div class="col-6 form-group">
                            <span>Kargo Firması:</span>
                            <select class="form-control" asp-for="ShipperId" asp-items="@Model.ShipperCollection">
                                <option hidden value="-1">Seç</option>
                            </select>
                            <span asp-validation-for="ShipperId" class="text-danger"></span>
                        </div>
                        <div class="col-6 form-group">
                            <span>Adres:</span>
                            <select class="form-control" asp-for="AddressId" asp-items="@Model.AddressCollection">
                                <option hidden value="-1">Seç</option>
                            </select>
                            <span asp-validation-for="AddressId" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <button class="btn btn-success" type="submit"><i class="fa fa-send"></i> Sonraki Adıma Geç</button>

                </form>
            </div>
        }

        else
        {
            <div class="left border">
                <table class="table table-bordered table-striped" style="font-family: Arial, Helvetica, sans-serif">
                    <tr>
                        <td class="text-center" style="color:green; font-size:larger; font-weight:bold">
                            <i class="fa fa-circle-o-notch"></i> Henüz adres kaydetmedin.
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><a asp-area="Member" asp-controller="Address" asp-action="AddAddress">Buraya</a> tıklayarak adres oluşturabilirsin.</td>
                    </tr>
                </table>
            </div>
        }
    }

    else
    {
        <div class="left border">
            <table class="table table-bordered table-striped" style="font-family: Arial, Helvetica, sans-serif">
                <tr>
                    <td class="text-center" style="color:red; font-size:larger; font-weight:bold">
                        <i class="fa fa-circle-o-notch"></i> Henüz sepetine ürün eklemedin.
                    </td>
                </tr>
                <tr>
                    <td class="text-center"><a asp-area="" asp-controller="Home" asp-action="Index">Buraya</a> tıklayarak ürünleri inceleyebilirsin.</td>
                </tr>
            </table>
        </div>
    }

}

else
{
    <div class="col-md-5"></div>
    <div class="col-md-6">
        Alışveriş yapabilmeniz için
        <a asp-controller="Account" asp-action="Login" class="text-center" asp-route-data="order">giriş</a> yapmalısınız.
    </div>
}


@section Sidebar
{
    <partial name="OrderSummaryPartial" model="@Model.OrderSummary" />
}
