@model IQueryable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h3 class="text-center my-3"> "@ViewBag.Searched" ile ilgili bulunan sonuçlar</h3>
<div class="container-fluid">
    <div class="row">

        @if (Model == null)
        {
            <div class="col-md-12 text-center my-3 text-danger">
                <h3>Herhangi bir sonuç bulunamadı.</h3>
            </div>
        }

        else
        {
            <hr/>
            @foreach (var product in Model)
            {
                <partial name="ProductSummary" model="product" />
            }
        }

    </div>
</div>