<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/Template/theme/content/test.css" rel="stylesheet" />
    <link href="~/lib/Template/theme/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/lib/css/abz-stylesheet.css" rel="stylesheet" />
    @*<link href="~/lib/css/checkout.css" rel="stylesheet" />*@

    <title>abz | En iyisi</title>
    <link href="~/img/favicon_transparent.ico" rel="icon" type="image/x-icon" />

</head>
@*<body oncontextmenu='return false'>*@
<body>

    <partial name="NavbarPartial" />

    <div class="container my-5 mx-auto">
        <div class="row">

            <div class="col-md-12" style="border: solid 1px lightgray; border-radius: 7px; padding-top:30px; margin-bottom:50px">

                @*<div class="card-top border-bottom text-center"> <a asp-action="Index" asp-controller="Home"> Mağazaya Dön</a> </div>*@
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7 my-4 ml-5">
                            @RenderBody()
                        </div>
                        <div class="col-md-4">
                            @RenderSection("sidebar", false)
                        </div>
                    </div>
                </div>
                <div> </div>


            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
