@*
    Footer
*@

<footer class="text-center text-lg-start" style="cursor:default">
    <div class="container py-4 px-0">
        <div class="row text-left mb-5">
            <a class="navbar-brand" href="#">
                <img src="~/img/favicon_transparent.png" alt="" width="30" height="30" />
                <span class="fa" style="font-family: Arial, Helvetica, sans-serif">abz notebook</span>
            </a>
        </div>
        <div class="row">
            <div class="col-3 mb-4">
                <h4>Uygun Fiyat</h4>
                <img class="card-img" src="~/img/footer_1.png" />
                <span><strong>abz</strong> 'de hep uygun, her zaman uygun.</span>
            </div>

            <div class="col-3 mb-4">
                <h4>Hızlı Teslimat</h4>
                <img class="card-img-top" src="~/img/footer_2.png" />
                <span>Beklemek yok! Stoktaki ürünler 24 saatte kargoda.</span>
            </div>

            <div class="col-3 mb-4">
                <h4>2+1 Yıl Garanti</h4>
                <img class="card-img-top" src="~/img/footer_3.png" />
                <span>2 yıl yetmez dedik, 1 yıl da biz ekledik. 3 yıl garanti.</span>
            </div>
            <div class="col-3 mb-4">
                <h4>Kolay İade</h4>
                <img class="card-img-top" src="~/img/footer_4.png" />
                <span>Beğenmedin mi? Gönder gelsin yenisi.</span>
            </div>

        </div>

        <br />

        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5>abz notebook</h5>

                <p>
                    Uygun fiyatlı notebook sunarak Türkiye'nin en çok satan e-ticaret sitesi olmayı
                    başardık. Temel prensibimiz sadece notebook üzerine olduğu için, bu alanda yine
                    üst sıralarda kalmaya devam ediyoruz. Geliştirdiğimiz <strong>2+1</strong> yıl garanti sistemi ile
                    kullanıcı memnuniyetini en üst seviyede tutmaya çalışıyoruz. Aklına takılan bir sorun
                    mu var? "Bize Ulaşın" kısmından bize ulaşabilirsin.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <p class="text-left font-weight-bold">Bizi Takip Edin</p>

                <ul class="list-unstyled text-left">
                    <li>
                        <a href="#!"><span class="fa fa-facebook"></span> Facebook</a>
                    </li>
                    <li>
                        <a href="#!"><span class="fa fa-twitter"></span> Twitter</a>
                    </li>
                    <li>
                        <a href="#!"><span class="fa fa-linkedin"></span> LinkedIn</a>
                    </li>
                    <li>
                        <a href="#!"><span class="fa fa-pinterest"></span> Pinterest</a>
                    </li>
                    <li>
                        <a href="#!"><span class="fa fa-instagram"></span> Instagram</a>
                    </li>
                    <li>
                        <a href="#!"><span class="fa fa-youtube"></span> YouTube</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <p class="text-right font-weight-bold">Bize Ulaşın</p>

                <ul class="list-unstyled text-right">
                    <li style="font-size:x-large">
                        0850 333 00 00
                    </li>
                    <li>
                        <a href="#!"><span class="fa fa-whatsapp"></span> Whatsapp Destek</a>
                    </li>
                    <li>
                        <a href="#!"><span class="fa fa-telegram"></span> Telegram Destek</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="row">
            <div class="col-6 text-right">
                Desteklenen kartlar : 
            </div>
            <div class="col-6">
                <img class="card-img-bottom" src="~/img/footer_logos.jpg" />
            </div>
        </div>
        <br />
        © 2021 Copyright:
        <a href="/">abznotebook.com</a>
    </div>
    
    <!-- Copyright -->
</footer>