@*
    Page Not Found
*@

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/Template/theme/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>abz | En iyisi</title>
    <link href="~/img/favicon_transparent.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <div class="container p-5">
        <div class="row">
            <div class="col-6 p-3">
                <a href="#" style="text-decoration: none;">
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size:xx-large; font-weight: bold; color: #509650;">
                        abznotebook
                    </p>
                </a>
                <br>
                <p style="font-size: xx-large; font-weight: bold;">
                    Böyle bir sayfamız yok ama en uygun ürünler burada!
                </p>
                <br>
                <p style="font-size: x-large; color:gray">
                    Sayfa kaldırılmış veya değiştirilmiş olabilir. Aşağıdaki kategorilere göz atarak tüm ürünlerimizi
                    keşfedebilirsin.
                </p>
            </div>
            <div class="col-6"
                 style="background-image: url(C:\Users\Mustafa\Desktop\abz\page404.png); background-repeat: no-repeat;">
                <img src="~/img/page404.png" class="card-img-top">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12">
                <a href="/">
                    <span class="fa fa-home" style="font-size: x-large;"> Anasayfaya git</span>
                </a>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-12">
                <p style="font-size: xx-large; font-weight: bold; cursor: default;">Kategorilere göz at</p>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-2 text-center">
                <div class="card py-3">
                    <a href="#" class="" style="font-size: 1.5rem; font-weight: bold; text-decoration: none;">Notebook</a>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="card py-3">
                    <a href="#" class="" style="font-size: 1.5rem; font-weight: bold; text-decoration: none;">Oyun Bilgisayarı</a>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="card py-3">
                    <a href="#" class="" style="font-size: 1.5rem; font-weight: bold; text-decoration: none;">İkisi Bir Arada</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>